.Projects{
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: black;
}

.Projects_Wrapper{
    height:100%;
    width:45%;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    overflow-y:initial;
    padding-top: 100px;
    padding-bottom: 50px;

}

.Projects_Wrapper a {
    font-size: large;
    text-decoration: underline;
    transition: 0.3s ease;
}

.Projects_Wrapper a:hover{
    color: grey;
    text-decoration: underline;
}

.Projects_Wrapper div{
    background-color: white;
    margin: 15px;
    border-radius: 7px;
    padding:10px;
    transition: transform 0.3s ease;
}

.Projects .Projects_Wrapper div:hover{
    transform: scale(1.05);
}

@media (max-width:650px){
    .Projects_Wrapper {
        width: 70%;
    }
}

