.Footer{
    width: 100vw;
    margin-top:50px;
    position: absolute;
    background-color: black;
    margin-top: auto;
    bottom:0;
    height:40px;
}

.Footer .Footer_Content{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.Footer .Footer_Content p{
    color: white;
}